@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto/Roboto-Regular.ttf);
}
 body {
    font-family: Roboto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container_none {
    padding: 0;
}
.top-header-links {
    background-color:#EFEFEF ;
}
.list-top-links {
    display: flex;
    justify-content: center;
}

.list-top__items {
    margin-left: 15px;
}
.list-top__link {
    color: #333;
    display: block;
    padding: 15px;

}

.list-top__link:hover {
    background-color: dimgrey;
}
.center-section {
    border-bottom: 1px solid #EFEFEF;
}
.center-section-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-name {
    text-transform: uppercase;
    color: #F13C6E;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3.6px;
}
@media  screen and (max-width: 550px) {
    .logo-name {
        font-size: 26px;
    }
    .list-top-links {
        flex-direction: column;
        align-items: center;
    }
}
.img-logo {
    margin-right: 20px;
}
.logo-wrapper {
    display: flex;
    align-items: center;
}
.call-back {

border-radius: 20px;
border: 1px solid #F13C6E;
padding: 12px 26px;
margin-left: 40px;
background-color: white;
}
.list-navigation-links {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.list-navigation__items {
    margin-right: 25px;
}
.list-navigation__link {
    color: #333;
    display: block;
    padding: 15px;

}



.slider-wrapper {
    background-color: #F13C6E ;
   
    
}
.slider-wrapper-description {
    margin-left: 15px;
}

.slider-wrapper-tittle {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    color: white;

   
}
.slider-wrapper-text {
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 20px;
    color: white;
}
.slider-wrapper-more {
    padding: 12px 26px;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    background-color: #f13c6f00;
}


.slider-wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/bag-img);
    background-repeat: no-repeat;
    padding-top: 240px;
    padding-bottom: 240px;
    background-position: center;

}

.offers-wrapper {
    background-color:#EFEFEF ;
    padding: 80px 0 100px 0;
    
}

.offers-wrapper-container-card {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    gap: 10px;
    
}
@media screen and (max-width: 950px) {
    .offers-wrapper-container-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
}
.offers-wrapper-tittle {
    color: #000;
    font-size: 24px ;
   
   
   

}
.offers-wrapper-card {
    background-color: white;
    display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px 50px 25px 50px;
   
    
    
}
.offers-card-text {
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 18px;
    margin-bottom:  20px;
    margin-top: 20px;
}

.offers-card-price {
    color:#000 ;
    font-size: 21px;
    letter-spacing: 1.05px;
    margin-bottom: 20px;
}
.offers-card-more {
    background-color:#F13C6E ;
    border-radius: 30px;
    padding: 10px 50px;
    color: white;
    
    font-size: 14px;
   

}

.aside-wrapper {
    background-color: #EFEFEF;
}
.aside-blocks {
    display: flex;
    justify-content: space-between;
    padding-bottom:  100px ;
}
@media screen and (max-width:1100px) {
    .aside-blocks {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
 
}
.aside-blocks-container{
    background-color: #F13C6E ;
    display: flex;
    align-items: center;
    padding: 35px 45px 35px 40px;
   
    
}

.aside-container-desc {
    margin-right: 70px;
}
@media screen and (max-width:550px) {
    .aside-blocks-container {
        flex-direction: column;
    }
    .aside-container-desc {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.aside-get-tittle {
    font-size: 18px;
    color: #fff;
    padding-bottom: 25px;

}
.aside-get-text {
    color: #fff;
    font-size: 14px;
    padding-bottom: 25px;
    line-height: 18px;
}
.aside-get-input {
    background-color: #fff;
    padding:9px 30px 9px 20px;
    border-radius: 30px;
    font-size: 14px;
    
}

.aside-visit-tittle {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
   
}
.aside-visit-text {
    color: #fff;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 18px;
}
.aside-visit-more {
    color: #fff;
    padding: 8px 65px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #f13c6f00;

}
.aside-get-img {
    padding:0 24.5px ;
}
.aside-visit-img {
   padding:20px 0 ;
}
.row-wrapper {
    background-color: #EFEFEF;
}


.row-list-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1px;
    column-gap: 1px;
    
}

.row-list {
    
    padding: 35px 75px ;
    background-color: #fff;
    

}
.footer-wrapper {
    border-bottom: 1px solid #EFEFEF;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 60px 0;
    gap: 30px;
}

.footer-menu-categories {
    flex-grow: 1;
}
.footer-menu-categories_margin-none {
    margin-right: 0;
}

.footer-categories-list {
   margin-top: 25px;
    
}
.contacts-network {
    display: flex;
    
}
.contacts-network-items {
    margin-right: 15px;
    border: 2px solid #F13C6E;
    border-radius: 100px ;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.menu-list-tittle {
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 22px;
    border-bottom: 1px solid #EFEFEF;
}
.list-categories-link {
    color: #828282;
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
}
.footer-contacts {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper-more {
    background-color:#EFEFEF ;
}
.footer-additional {
    padding: 25px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-additional-copy {
    font-size: 12px;
    color: #828282 ;
}
.footer-additional-link {
    font-size: 12px;
    color: #828282 ;
}
@media screen and (max-width: 680px) {
    .list-navigation-links {
        flex-direction: column;
        align-items: center;
    }
    .list-navigation__items {
        margin-right: 0;

    }
    .contacts-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .call-back {
        margin: 20px 0 0 0;
    }
    .footer-additional {
        flex-direction: column;
        gap: 10px;
    }
    
}


@media screen and (max-width:450px){
    .footer-contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-menu {
        flex-wrap: wrap;
        align-items: center;
        
    }
    .footer-menu-categories {
        margin: 0 25px;
    }
    .contacts-wrapper {
        display: block; 
    }
    .call-back {
        margin:0 0 0 40px;
    }
    
    .center-section-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
