
$medium-font-size: 18px;
$small-font-size: 16px;
$x-small-font-size:14px;
$primary-font-color: #656565;
$secondary-font-color:black;
$primary-color: #F5EFEA;
$secondary-color: #D9DCC8;
$button-background-color: #BDC9A6;
$button-text-color: #fff;
$cards-price-color:red;
$cards-price-font-size:18px;
$base-padding: 50px 0;